/*colors*/
/*button*/
.btn-down, .btn-up {
  border-radius: 200px;
  background: #ff52bf;
  color: #fff;
  font-weight: 700;
  opacity: 10;
  transition: 200mc;
  cursor: pointer;
}
.btn-down:hover, .btn-up:hover {
  opacity: 0.8;
}

.btn-up {
  padding: 1.2rem 3rem;
  font-size: 0.9rem;
}
.btn-down {
  padding: 1.7rem 5.5rem;
  border: 0;
  font-size: 1.3rem;
}

@media (max-width: 776px) {
  .btn-up {
    padding: 1.5rem 2rem;
    font-size: 0.7rem;
  }
  .btn-down {
    padding: 1.5rem 3rem;
    font-size: 0.7rem;
  }
}
/************************/
/*Setting*/
/************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/************************/
/*Ultilites*/
/************************/
/************************/
/*Header*/
/************************/
.hero {
  height: 100vh;
  background: #ebfbff;
  background-repeat: no-repeat;
  background-image: url(/images/bg-hero-desktop.svg);
  background-size: cover;
}
.hero .content {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.hero .content .box:nth-child(1) {
  margin: 4rem 0;
}
.hero .content .box:nth-child(1) h1,
.hero .content .box:nth-child(1) p {
  color: #00252e;
}
.hero .content .box:nth-child(1) h1 {
  font-size: 2.5rem;
  width: 80%;
}
.hero .content .box:nth-child(1) p {
  width: 90%;
  line-height: 1.5rem;
  margin: 3rem 0;
}
.hero .content .box:nth-child(2) img {
  width: 650px;
}

/************************/
/*Navegation*/
/************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
.navbar .logo {
  width: 210px;
}
.navbar .btn-top {
  background: #fff;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 700;
}

/************************/
/*conteiner from 1 to 3*/
/************************/
.main-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 7rem 0 12rem 0;
}
.main-page .conteiner {
  margin: 2rem 0;
  border: 3px solid #f3efef;
  border-radius: 0.8rem;
}
.main-page .conteiner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}
.main-page .conteiner .content .box:nth-child(1) {
  margin: 0 5rem;
}
.main-page .conteiner .content .box:nth-child(1) p {
  color: #808d99;
  margin: 1rem 0;
  width: 85%;
}
.main-page .conteiner .content .box:nth-child(2) img {
  width: 400px;
}
.main-page .conteiner:nth-child(3) {
  margin: 0 0 10rem 0;
}

.row-reverse {
  flex-direction: row-reverse;
}

/************************/
/*card*/
/************************/
.card {
  border: 3px solid #f3efef;
  width: 800px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  padding: 4rem;
  background: #fff;
}
.card h2 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.footer {
  background: #00252e;
  padding: 15rem 0;
  color: #fff;
}
.footer .conteiner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .conteiner .box ul li a {
  color: #fff;
}

/************************/
/*Media Queries*/
/************************/
@media (max-width: 1200px) {
  .hero,
.navbar {
    padding: 2rem 0.8rem;
  }
}
@media (max-width: 1024px) {
  .main-page,
.content {
    padding: 0 0.8rem;
  }

  .hero {
    height: 100%;
  }
  .hero .content .box:nth-child(1) {
    margin: 4rem 0;
  }
  .hero .content .box:nth-child(2) img {
    width: 100%;
  }
}
.main-page {
  padding: 7rem 0.8rem 12rem 0.8rem;
}

/*small scree*/
@media (max-width: 776px) {
  body {
    font-size: 15px;
  }

  .hero {
    background-image: url(/images/bg-hero-mobile.svg);
  }
  .hero .content {
    flex-direction: column-reverse;
    padding: 2rem 0.8rem;
    text-align: center;
  }
  .hero .content .box:nth-child(1) {
    margin: 2rem 0;
  }
  .hero .content .box:nth-child(1) h1,
.hero .content .box:nth-child(1) p {
    width: 100%;
  }
  .hero .content .box:nth-child(1) h1 {
    font-size: 1.5rem;
  }
  .hero .content .box:nth-child(1) p {
    margin: 2rem 0;
  }

  .navbar {
    padding: 0 0.8rem;
  }
  .navbar .logo {
    width: 110px;
  }
  .navbar .btn-top {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }

  .main-page {
    padding: 2rem 0.8rem 6rem 0.8rem;
  }
  .main-page .conteiner {
    margin: 1rem 0;
  }
  .main-page .conteiner .content {
    flex-direction: column-reverse;
    padding: 1rem 0.4rem;
  }
  .main-page .conteiner .content .box:nth-child(1) {
    margin: 0 1rem;
  }
  .main-page .conteiner .content .box:nth-child(1) p {
    margin: 1rem 0;
    width: 100%;
  }
  .main-page .conteiner .content .box:nth-child(2) img {
    width: 100%;
  }

  .card {
    width: 90%;
    padding: 1rem;
  }
  .card h2 {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
